<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pomodoro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CC2B2FE1D224A6F00032751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC2B3171D224A6F00032751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC2B3221D224A6F00032751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
